<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title></title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <meta name="viewport" content="initial-scale=1">
  <link rel="stylesheet" href="stylesheets/screen.css">

  <script src="//cdn.jsdelivr.net/g/jquery@1.11.0,modernizr@2.7.1"></script>

</head>

<body>


  <%= yield %>


  <script src="js/scripts.js"></script>
  <script>
    var c=0, words=['Windows', 'Doors', 'Siding', 'Decks','Fences','Gutters', 'Concrete', 'Wheelchair Ramps'];


    function loop(){
      $('h1.words').delay(1300).fadeTo(300,0,function(){
         $(this).text( words[++c%words.length]).fadeTo(300,1,loop);
      });
    }

    loop();
    
    if (Modernizr.mq('only all and (min-width: 944px)')) {

      (function($) {
        var count = 0, quotes = $('ul#customer-quotes li'), current;
        setInterval(function() {
          $('.client-type', 'section#testimonials').removeClass('active');
          quotes.hide();
          current = $(quotes[++count%quotes.length]).fadeTo(300, 1);
          $(current.data('client-type'), 'section#testimonials').addClass('active');
        }, 3000);
      })(jQuery);

     }    

  </script>  
</body>
</html>
