<%= render :partial => "header" %>

<section>
  <div class="content" id="intro">
    <h1>Tagline Goes Here</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempor sit amet nulla ut malesuada. Sed aliquam metus in dolor condimentum, et tristique quam adipiscing. Vivamus sit amet nibh mi.</p>
    <div class="boxes">
      <div class="box">
        <img src="http://placehold.it/300x200">           
        <h3>Title Goes Here</h3>     
      </div>
      <div class="box">
        <img src="http://placehold.it/300x200"> 
        <h3>Title Goes Here</h3>                                    
      </div>
      <div class="box">
        <img src="http://placehold.it/300x200">                        
        <h3>Title Goes Here</h3>             
      </div>
    </div>
  </div>
</section>

<section id="clients" class="gray">
  <div class="content">
    <h1>Clients</h1>
    <div class="boxes">
      <div class="box">
        <img src="http://placehold.it/300x150">        
      </div>
      <div class="box">
        <img src="http://placehold.it/300x150">                
      </div>
      <div class="box">
        <img src="http://placehold.it/300x150">    
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="content">
    <h1>Services</h1>
    <ul>
      <li>
        <img src="http://placehold.it/150x150">
        <h3>Service One</h3>
      </li>
      <li>
        <img src="http://placehold.it/150x150">
        <h3>Service Two</h3>
      </li>
      <li>
        <img src="http://placehold.it/150x150">
        <h3>Service Three</h3>
      </li>
      <li>
        <img src="http://placehold.it/150x150">
        <h3>Service Four</h3>
      </li>
      <li>
        <img src="http://placehold.it/150x150">
        <h3>Service Five</h3>
      </li>    
      <li>
        <img src="http://placehold.it/150x150">
        <h3>Service Six</h3>
      </li> 
      <li>
        <img src="http://placehold.it/150x150">
        <h3>Service Seven</h3>
      </li> 
      <li>
        <img src="http://placehold.it/150x150">
        <h3>Service Eight</h3>
      </li>                                       
    </ul>
  </div>
</section>

<section id="partner" class="gray">
  <div class="content">
    <h1>Be A Partner</h1>
    <div class="left">
      <img src="http://placehold.it/400x300">
    </div>
    <div class="right">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempor sit amet nulla ut malesuada. Sed aliquam metus in dolor condimentum, et tristique quam adipiscing. Vivamus sit amet nibh mi. Aliquam ac semper velit. In blandit tempus urna ut porta. Pellentesque varius sollicitudin neque, nec gravida enim facilisis id. Duis bibendum, tellus et consectetur pharetra, odio felis semper dui, a scelerisque mi elit id sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus tristique tortor non ultricies ultricies.</p>
    </div>
  </div>
</section>

<section id="about">
  <div class="content">
    <h1>About Us</h1>
    <div class="left">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempor sit amet nulla ut malesuada. Sed aliquam metus in dolor condimentum, et tristique quam adipiscing. Vivamus sit amet nibh mi. Aliquam ac semper velit. In blandit tempus urna ut porta. Pellentesque varius sollicitudin neque, nec gravida enim facilisis id. Duis bibendum, tellus et consectetur pharetra, odio felis semper dui, a scelerisque mi elit id sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus tristique tortor non ultricies ultricies.</p>
    </div>
    <div class="right">
      <img src="http://placehold.it/450x350">
    </div>
  </div>
</section>

<section id="contact" class="gray">
  <div class="content">
    <h1>Contact</h1>
    <div class="left">
      <img src="http://placehold.it/450x350">
    </div>
    <div class="right">
      <form>
        <input type="text" id="name" placeholder="Full Name" /><br />
        <input type="text" id="company" placeholder="Business Name" /><br />
        <textarea type="text" id="message" placeholder="Message"></textarea><br />
        <button type="submit">Submit</button>
      </form>
      <div class="info">
        <span class="address">124 Wallaby Way, Myrtle Beach, SC 29601</span>
        <span class="phone">(829) 234-2343</span>
      </div>
    </div>
  </div>
</section>