<header>
  <div class="content">
    <div class="left">
      <a class="logo" href="#intro"><img src="images/logo.png"></a>
    </div>
    <div class="right">
      <a class="call-to" href="#contact">Get Started</a>
    </div>
  </div>
</header>

<section id="intro">
  <div class="content" >
    <h1 class="logo"><b>T</b>itus <b>T</b>itan</h1>
    <h1 class="words">Windows</h1>
    <h1 class="tagline">Business to Business<br />Service Providers</h1>

    <p>Is your organization seeking professional installers to service your customers needs? At Titus Titan we value the benefits of consistent and scalable opportunities.</p>

    <a href="#different" class="scrollto">Scroll</a>
  </div>
</section>

<section id="different" class="blue">
  <div class="content">
    <h1>Why Choose Titus Titan?</h1>
    <div class="boxes">
      <div class="box">
        <img src="images/shield.png">           
        <h3>Background Checked</h3> 
        <p>As a client you will never have to worry about the character of our team. Each is background checked by ChoicePoint a LexisNexis® identification and credential verification services.</p>                                   
      </div>
      <div class="box">
        <img src="images/computer.png"> 
        <h3>FieldVine® Technology</h3>             
        <p>With FieldVine® our proprietary cloud based software your associates know in real-time the current status of each project, can view photos, watch live streaming video and collaborate with all relevant parties.</p>
      </div>
      <div class="box">
        <img src="images/seal.png">                        
        <h3>Commitment Pledge</h3>             
        <p>The commitment to our clients is rivaled only by the passion to provide excellence for their customers. To do so requires ensuring the correct expectations have been established and executed as agreed.</p>
      </div>
    </div>
  </div>
</section>

<section id="testimonials">
  <div class="content">
    <h1>What Others Have To Say</h1>

    <ul id="customer-quotes" class="customer">
      <li data-client-type=".big-box" class="active">
        <h3>Our Clients Customers</h3>
        <p class="quote">"Fusce mattis porttitor eros a rutrum. Etiam viverra sapien orci, eu vehicula enim aliquet at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris quis dui mauris."</p>
        <p>- <b>Pam</b>, Lowes Home Improvement</p>
      </li>
      <li data-client-type=".government">
        <h3>Our Clients Customers</h3>        
        <p class="quote">"GOV Fusce mattis porttitor eros a rutrum. Etiam viverra sapien orci, eu vehicula enim aliquet at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris quis dui mauris."</p>
        <p>- <b>Allen</b>, VA Administration</p>
      </li>
      <li data-client-type=".hoa">
        <h3>Our Clients Customers</h3>        
        <p class="quote">"HOA Fusce mattis porttitor eros a rutrum. Etiam viverra sapien orci, eu vehicula enim aliquet at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris quis dui mauris."</p>
        <p>- <b>Jason</b>, Ally Management</p>
      </li>
    </ul>

    <div class="client-type big-box slide active">
      <h3>Big Box Retailers</h3>
      <p class="quote">"Fusce mattis porttitor eros a rutrum. Etiam viverra sapien orci, eu vehicula enim aliquet at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris quis dui mauris."</p>
      <p>- <b>Pam</b>, Lowes Home Improvement</p>
    </div>
    <div class="row">
      <div class="box client-type hoa slide">
        <h3>Property Management</h3>
        <p class="quote">"Fusce mattis porttitor eros a rutrum. Etiam viverra sapien orci, eu vehicula enim aliquet at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris quis dui mauris."</p>
        <p>- <b>Jason</b>, Ally Management</p>

      </div>
      <div class="box client-type government slide">
        <h3>Government</h3>
        <p class="quote">"Fusce mattis porttitor eros a rutrum. Etiam viverra sapien orci, eu vehicula enim aliquet at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris quis dui mauris."</p>
        <p>- <b>Allen</b>, VA Administration</p>
      </div>
      <div class="box fans slide">
        <img src="images/fans.png"/>
        <h3>This Could Be You</h3>
      </div>   
    </div>
  </div>
</section>

<section id="services" class="blue">
  <div class="content">
    <h1>Turn-key Services Provided</h1>
    <ul>
      <li>
        <img src="images/window.png">
        <h3>Windows</h3>
      </li>
      <li>
        <img src="images/door.png">
        <h3>Doors</h3>
      </li>
      <li>
        <img src="images/siding.png">
        <h3>Siding</h3>
      </li>
      <li>
        <img src="images/water.png">
        <h3>Gutters</h3>
      </li>
      <li>
        <img src="images/trowel.png">
        <h3>Concrete & Masonry</h3>
      </li>    
      <li>
        <img src="images/fencing.png">
        <h3>Fencing</h3>
      </li> 
      <li>
        <img src="images/fence.png">
        <h3>Decks & Boardwalks</h3>
      </li> 
      <li>
        <img src="images/handicap.png">
        <h3>Wheelchair Ramps</h3>
      </li>                                       
    </ul>
  </div>
</section>



<section id="partner">
  <div class="content">
    <h1>A Partnership With Us</h1>
    <div class="left">
      <img src="images/handshake.svg">
    </div>
    <div class="right">
      <p>Today’s consumers are more aware, have more choice and more importantly have a social presence that extends well beyond local geographic boundaries. Thats why its more important than ever to partner with contractors that take pride in the workmanship they provide and give excellent customer service throughout the process.</p>
      <p>
      From our initial contact with your customers through completion we facilitate and execute to deliver an informed, seamless and error free experience.
      </p>
      <p>
      If your organization values proven performance and seeks to partner with a team eager to deliver results please take a moment to complete and submit the form below
      </p>

    </div>
  </div>
</section>

<section id="contact" class="blue">
  <div class="content">
    <h1>Let's Get Started</h1>
    <div class="left">
      <input type="text" id="text" placeholder="Name">
      <input type="email" id="email" placeholder="Email">
      <input type="text" id="company" placeholder="Company/Organization">
      <textarea id="additional" placeholder="Additional Information"></textarea>    
      <input class="submit" type="submit" value="Start The Journey">  
    </div>
    <div class="right">
      <p class="quote">"The journey of a lasting partnership begins with a single follow-up!"</p>
      <span class="author">- <a href="http://www.linkedin.com/in/raynino">Ray Antonino</a></span>
      <span class="title">Chief Operations Officer<br />Titus Titan Corporation</span>
    </div>
  </div>
</section>

<section id="footer">
  <div class="content">
    <div class="left">
      <img class="logo" src="images/logo.png">
      <p class="margin">Titus Titan Corporation</p>
      <p>1293 Professional Dr. Ste D</p>
      <p>Myrtle Beach, SC 29577</p>
    </div>
    <div class="right">
        <p>(843) 808-0985</p>
        <p><a href="mailto:contact@titustitan.com">contact@titustitan.com</a></p>
      <ul class="social">
        <li class="facebook"><a href="#">Facebook</a></li>
        <li class="twitter"><a href="#">Twitter</a></li>
        <li class="linkedin"><a href="#">LinkedIn</a></li>
        <li class="google"><a href="#">Google+</a></li>        
      </ul>
    </div>
  </div>
</section>