<section id="intro">
  <div class="content" >
    <h1 class="logo">Titus Titan</h1>
    <h1 class="tagline">B2B Service Provider</h1>
    <h1 class="words">Big Box Retailers</h1>
    <p>Seeking a partner that can quickly adapt to your organizations processes and is prepared to scale as your needs grow?</p>
    <a href="#different" class="scrollto">Scroll</a>
  </div>
</section>

<section id="different" class="blue">
  <div class="content">
    <h1>Why Choose Titus Titan?</h1>
    <div class="boxes">
      <div class="box">
        <img src="images/shield.png">           
        <h3>Background Checked</h3> 
        <p>As a client you will never have to worry about the character of our team. Each is background checked by ChoicePoint a LexisNexis® identification and credential verification services.</p>                                   
      </div>
      <div class="box">
        <img src="images/computer.png"> 
        <h3>FieldVine Technology</h3>             
        <p>With FieldVine® our proprietary cloud based software your associates know in real-time the current status of each project, can view photos, watch live streaming video and collaborate with all relevant parties.</p>
      </div>
      <div class="box">
        <img src="images/seal.png">                        
        <h3>Commitment Pledge</h3>             
        <p>With Titus Titan you will be pleased to know that your customers will experience great communication, have clearly defined expectations and completed projects within the timelines established.</p>
      </div>
    </div>
  </div>
</section>

<section id="testimonials">
  <div class="content">
    <h1>Testimonials</h1>
    <div class="big-box">
      <img src="http://placehold.it/800x500"/>
      <h3>Big Box Retailers</h3>
      <p>"Fusce mattis porttitor eros a rutrum. Etiam viverra sapien orci, eu vehicula enim aliquet at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris quis dui mauris. Morbi porta massa nec justo posuere sagittis. Phasellus quis lectus turpis."</p>

    </div>
    <div class="small-box">
      <img src="http://placehold.it/800x500"/>
      <h3>Property Management</h3>
      <p>"Fusce mattis porttitor eros a rutrum. Etiam viverra sapien orci, eu vehicula enim aliquet at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris quis dui mauris. Morbi porta massa nec justo posuere sagittis. Phasellus quis lectus turpis."</p>

    </div>
    <div class="small-box">
      <img src="http://placehold.it/800x500"/>
      <h3>VA Administration</h3>
      <p>"Fusce mattis porttitor eros a rutrum. Etiam viverra sapien orci, eu vehicula enim aliquet at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris quis dui mauris. Morbi porta massa nec justo posuere sagittis. Phasellus quis lectus turpis."</p>

    </div>
  </div>
</section>

<section id="services" class="blue">
  <div class="content">
    <h1>Turn-key Services Provided</h1>
    <ul>
      <li>
        <img src="http://placehold.it/150x150">
        <h3>Windows</h3>
      </li>
      <li>
        <img src="http://placehold.it/150x150">
        <h3>Entry Doors</h3>
      </li>
      <li>
        <img src="http://placehold.it/150x150">
        <h3>Siding</h3>
      </li>
      <li>
        <img src="http://placehold.it/150x150">
        <h3>Gutters</h3>
      </li>
      <li>
        <img src="http://placehold.it/150x150">
        <h3>Concrete & Masonry</h3>
      </li>    
      <li>
        <img src="http://placehold.it/150x150">
        <h3>Fencing</h3>
      </li> 
      <li>
        <img src="http://placehold.it/150x150">
        <h3>Decks & Boardwalks</h3>
      </li> 
      <li>
        <img src="http://placehold.it/150x150">
        <h3>ADA Compliant Ramps</h3>
      </li>                                       
    </ul>
  </div>
</section>



<section id="partner">
  <div class="content">
    <h1>Be A Partner</h1>
    <div class="left">
      <img src="images/handshake.svg">
    </div>
    <div class="right">
      <p>Providing B2B construction services is nothing new. However today’s consumers are more aware, have more choice and more importantly have a social voice that’s heard well beyond any local geographic boundaries. That’s why it’s important that your organization partner with a team that respects the ever changing world around them.</p>
      <p>From our initial contact with your customer, through completion we facilitate and execute to deliver a seamless and error free experience. </p>

    </div>
  </div>
</section>

<section id="contact" class="blue">
  <div class="content">
    <h1>Contact</h1>
  </div>
</section>