<section id="intro">
  <div class="content" >
    <h1 class="logo">Titus Titan</h1>
    <h1 class="tagline">Business to Business Service Provider</h1>
    <h1 class="words">Big Box Retailers</h1>
    <p>Seeking a partner that can quickly adapt to your organizations processes and is prepared to scale as your needs grow?</p>
  </div>
</section>

<section id="different" class="blue">
  <div class="content">
    <h1>Why Choose Titus Titan?</h1>
    <div class="boxes">
      <div class="box">
        <img src="images/shield.png">           
        <h3>Background Checked</h3> 
        <p>As a client you will never have to worry about the character of our team. Each is background checked by ChoicePoint a LexisNexis® identification and credential verification services.</p>                                   
      </div>
      <div class="box">
        <img src="images/computer.png"> 
        <h3>FieldVine Technology</h3>             
        <p>With the aid of our cloud based software we are able to manage construction projects while enabling real-time data collection and collaboration between clients, customers and trade partners.</p>
      </div>
      <div class="box">
        <img src="images/seal.png">                        
        <h3>Commitment Pledge</h3>             
        <p>With the aid of our cloud based software we are able to manage construction projects while enabling real-time data collection and collaboration between clients, customers and trade partners.</p>
      </div>
    </div>
  </div>
</section>

<section id="testimonials">
  <div class="content">
    <h1>Testimonials</h1>
    <div class="big-box">
      <img src="http://placehold.it/800x500"/>
      <h3>Big Box Retailers</h3>
      <p>"Fusce mattis porttitor eros a rutrum. Etiam viverra sapien orci, eu vehicula enim aliquet at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris quis dui mauris. Morbi porta massa nec justo posuere sagittis. Phasellus quis lectus turpis."</p>

    </div>
    <div class="small-box">
      <img src="http://placehold.it/800x500"/>
      <h3>Property Management</h3>
      <p>"Fusce mattis porttitor eros a rutrum. Etiam viverra sapien orci, eu vehicula enim aliquet at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris quis dui mauris. Morbi porta massa nec justo posuere sagittis. Phasellus quis lectus turpis."</p>

    </div>
    <div class="small-box">
      <img src="http://placehold.it/800x500"/>
      <h3>VA Administration</h3>
      <p>"Fusce mattis porttitor eros a rutrum. Etiam viverra sapien orci, eu vehicula enim aliquet at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris quis dui mauris. Morbi porta massa nec justo posuere sagittis. Phasellus quis lectus turpis."</p>

    </div>
  </div>
</section>

<section id="services" class="blue">
  <div class="content">
    <h1>Turn-key Services Provided</h1>
    <ul>
      <li>
        <img src="http://placehold.it/150x150">
        <h3>Windows</h3>
      </li>
      <li>
        <img src="http://placehold.it/150x150">
        <h3>Entry Doors</h3>
      </li>
      <li>
        <img src="http://placehold.it/150x150">
        <h3>Siding</h3>
      </li>
      <li>
        <img src="http://placehold.it/150x150">
        <h3>Gutters</h3>
      </li>
      <li>
        <img src="http://placehold.it/150x150">
        <h3>Concrete & Masonry</h3>
      </li>    
      <li>
        <img src="http://placehold.it/150x150">
        <h3>Fencing</h3>
      </li> 
      <li>
        <img src="http://placehold.it/150x150">
        <h3>Decks & Boardwalks</h3>
      </li> 
      <li>
        <img src="http://placehold.it/150x150">
        <h3>ADA Compliant Ramps</h3>
      </li>                                       
    </ul>
  </div>
</section>



<section id="partner">
  <div class="content">
    <h1>Be A Partner</h1>
    <div class="left">
      <img src="http://placehold.it/400x300">
    </div>
    <div class="right">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempor sit amet nulla ut malesuada. Sed aliquam metus in dolor condimentum, et tristique quam adipiscing. Vivamus sit amet nibh mi. Aliquam ac semper velit. In blandit tempus urna ut porta. Pellentesque varius sollicitudin neque, nec gravida enim facilisis id. Duis bibendum, tellus et consectetur pharetra, odio felis semper dui, a scelerisque mi elit id sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus tristique tortor non ultricies ultricies.</p>
    </div>
  </div>
</section>

<section id="contact" class="gray">
  <div class="content">
    <h1>Contact</h1>
  </div>
</section>