@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

section .content {
  *zoom: 1;
  max-width: 304px;
  max-width: 19rem;
  _width: 304px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}
section .content:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 39em) {
  section .content {
    max-width: 624px;
    max-width: 39rem;
  }
}
@media (min-width: 59em) {
  section .content {
    max-width: 944px;
    max-width: 59rem;
  }
}
section .box {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1rem;
  display: inline;
  margin-bottom: 4em;
}
section .box:last-child {
  margin-bottom: 0;
}
@media (min-width: 59em) {
  section .box {
    margin-bottom: 0;
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
  section .box:nth-child(3n) {
    float: right;
    margin-right: 0;
  }
}
section#partner .left img {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2em;
}
@media (min-width: 39em) {
  section#partner .left img {
    width: 50%;
    margin-bottom: 0;
  }
}
@media (min-width: 59em) {
  section#partner .left img {
    width: 70%;
    margin-bottom: 0;
    margin-top: 1.5em;
  }
}
@media (min-width: 59em) {
  section#partner .left {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}
section#partner .right {
  text-align: center;
}
@media (min-width: 59em) {
  section#partner .right {
    width: 49.15254%;
    float: right;
    margin-right: 0;
    text-align: left;
  }
}
section#contact input, section#contact textarea {
  width: 100%;
}
@media (min-width: 39em) {
  section#contact input, section#contact textarea {
    width: 50%;
  }
}
section#contact .right {
  text-align: center;
}
section#contact .left {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1rem;
  display: inline;
}
section#contact .right {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1rem;
  display: inline;
  margin-top: 3em;
}
@media (min-width: 59em) {
  section#contact .left {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    padding-left: 8.47458%;
    padding-right: 8.47458%;
  }
  section#contact .left input, section#contact .left textarea {
    width: 100%;
  }
  section#contact .right {
    width: 49.15254%;
    float: right;
    margin-right: 0;
    text-align: center;
  }
}

@media (min-width: 59em) {
  .big-box {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    padding-left: 25.42373%;
  }
}

@media (min-width: 59em) {
  .small-box {
    width: 40.67797%;
    float: left;
    margin-right: 1.69492%;
  }
  .small-box:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
}

#services ul li {
  width: 47.36842%;
  float: left;
  margin-right: 5.26316%;
  display: inline;
}
#services ul li img {
  height: 115px;
}
#services ul li:nth-child(2n) {
  float: right;
  margin-right: 0;
}
#services ul li:nth-child(-n+6) {
  margin-bottom: 3em;
}
@media (min-width: 59em) {
  #services ul li {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    margin-bottom: 0;
  }
  #services ul li:nth-child(4n) {
    float: right;
    margin-right: 0;
  }
  #services ul li:nth-child(-n+4) {
    margin-bottom: 3em;
  }
}

#footer {
  text-align: center;
}
@media (min-width: 59em) {
  #footer .left {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    text-align: left;
  }
  #footer .right {
    width: 49.15254%;
    float: right;
    margin-right: 0;
    text-align: right;
  }
}

html, body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5em;
  font-family: "Lato";
  color: #0d2d41;
  font-size: 2.5em;
}

section {
  padding: 6rem 0;
}
section.blue {
  background: #1a5881;
}
section.blue h1 {
  color: white;
}
section.blue h3 {
  color: #e79d2d;
}
section.blue p {
  color: #a2b5c0;
}
section#footer {
  padding: 2rem;
}

header {
  padding: 1.5em 0 1.5em 0;
  background: #efefef;
}

p {
  line-height: 1.6em;
  font-family: "Open Sans", sans-serif;
}

h3 {
  margin-top: 0.3em;
  text-align: center;
  font-family: "Lato";
  letter-spacing: 0.05em;
  font-size: 1.5em;
  font-weight: bold;
}

#intro {
  padding: 0;
  padding-top: 10%;
  box-sizing: border-box;
  height: 100%;
}
#intro h1 {
  margin-bottom: 0.2em;
  letter-spacing: 0.03em;
  font-size: 1.8em;
  line-height: 1.2em;
}
#intro h1.logo {
  margin-bottom: 1em;
  font-weight: 300;
  color: #1a5881;
  font-size: 3em;
  font-family: "Open Sans", sans-serif;
}
@media (min-width: 39em) {
  #intro h1.logo {
    font-size: 4em;
  }
}
@media (min-width: 59em) {
  #intro h1.logo {
    font-size: 5em;
  }
}
#intro h1.tagline {
  color: #0d2d41;
}
#intro h1.words {
  color: #e79d2d;
}
@media (min-width: 39em) {
  #intro h1 {
    font-size: 2.3em;
  }
}
@media (min-width: 59em) {
  #intro h1 {
    font-size: 3.3em;
  }
}
#intro .scrollto {
  position: absolute;
  width: 100px;
  left: 50%;
  bottom: 20px;
  margin-left: -50px;
  font-size: 1em;
  font-weight: 600;
  color: #484745;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}
#intro .scrollto:after {
  content: "";
  display: block;
  position: relative;
  margin: 5px auto 0;
  width: 34px;
  height: 18px;
  background-image: url("../images/scroll.png");
}
#intro p {
  padding-bottom: 2em;
  width: 100%;
  text-align: center;
  color: #0d2d41;
  font-size: 1em;
  margin: 0 auto;
  margin-top: 4em;
}
@media (min-width: 59em) {
  #intro p {
    font-size: 1.2em;
    width: 60%;
  }
}
#intro h3 {
  margin-bottom: 0;
}

#different {
  overflow: auto;
}
#different h3 {
  padding: 0.2em 0 0.3em;
}
#different p {
  text-align: center;
}
#different img {
  max-height: 100px;
  display: block;
  margin: 0 auto;
}

#testimonials {
  text-align: center;
}
#testimonials h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
}
#testimonials p {
  margin-top: 0.3em;
}
#testimonials p b {
  font-weight: bold;
}
#testimonials img {
  width: 100%;
}
#testimonials .small-box {
  margin-top: 4em;
}

#services h3 {
  font-size: 1.2em;
}
#services li img {
  margin: 0 auto;
  display: block;
  padding-bottom: 0.3em;
}

#partner img {
  display: block;
}
#partner p {
  margin-bottom: 1em;
}
#partner p:last-child {
  margin-bottom: 0;
}

#contact .info {
  margin-top: 2em;
}
#contact .info span {
  display: block;
  clear: both;
  margin-bottom: 0.75em;
}
#contact input {
  border-radius: 3px;
  border: none;
  display: block;
  margin: 0 auto;
  font-size: 1em;
  padding: 0.6em;
  margin-bottom: 1.3em;
  box-sizing: border-box;
}
#contact input:focus {
  outline: none;
}
#contact textarea {
  border: none;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
  font-size: 1em;
  box-sizing: border-box;
  line-height: 1.4em;
  padding: 0.6em;
  min-height: 5em;
}
#contact textarea:focus {
  outline: none;
}
#contact p {
  font-size: 1.5em;
  line-height: 1.4em;
}
#contact span {
  clear: both;
  display: block;
  font-size: 0.8em;
  color: white;
}
#contact span.author {
  font-weight: bold;
  color: #e79d2d;
  margin-top: 0.8em;
  font-size: 1em;
}
#contact span.title {
  margin-top: 0.3em;
  color: #a2b5c0;
  line-height: 1.3em;
}
#contact input[type=submit] {
  margin-top: 1em;
  background: #e79d2d;
  color: white;
  cursor: pointer;
}
#contact input[type=submit]:hover {
  background: #e1921a;
  color: #e6e6e6;
}

#footer .left img {
  width: 85px;
  float: left;
  margin-right: 1em;
}
#footer ul.social li {
  float: right;
  margin-right: 1em;
  margin-top: 1.6em;
  height: 32px;
  width: 32px;
}
#footer ul.social li:first-child {
  margin-right: 0;
}
#footer ul.social li a {
  display: block;
  text-decoration: none;
  color: black;
  text-indent: -9999px;
  text-align: left;
  height: 32px;
  width: 32px;
}
#footer ul.social li.twitter {
  background: url(../images/social/twitter.png) no-repeat;
}
#footer ul.social li.facebook {
  background: url(../images/social/facebook.png) no-repeat;
}
#footer ul.social li.google {
  background: url(../images/social/google.png) no-repeat;
}
#footer ul.social li.linkedin {
  background: url(../images/social/linkedin.png) no-repeat;
}
