$total-columns: 4; // Switching total columns from 10 to 4. 
$column-width: 4rem;
$gutter-width: 1rem;
$grid-padding: 0;
$med: 8;
$large: 12;


section, header {
  .content {
    @include container($total-columns, $med, $large);
    // Inserting media layouts into container tells Susy that we have 3 different grids that we want to use at different sizes, and Susy should output them as requested when the at-breakpoint mixin is called. 
    // Feel free to comment out all Susy grid backgrounds if you don't need them. 

    // @include susy-grid-background;
    // Everything without a at-breakpoint mixin will show up with $total-columns layout. 

    @include at-breakpoint($med) {
      // @include susy-grid-background;
      // Switching up susy grid background when layout changes
    }

    @include at-breakpoint($large) {
      // @include susy-grid-background;
      // Switching up susy grid background when layout changes
    }
  }
  
  .box {
    @include span-columns(4 omega,4);
    margin-bottom: 4em;
    &:last-child {
      margin-bottom: 0;
    }

    @include at-breakpoint($large) {
      margin-bottom: 0;
      @include span-columns(4,12);
      @include nth-omega(3n);

    }
  }  



  &#partner {
    .left {
      
      img {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 2em;
        @include at-breakpoint($med) {
          width: 50%;
          margin-bottom: 2em;
        }
        @include at-breakpoint($large) {
          width: 70%;
          margin-bottom: 0;
          margin-top: 1.5em;
        }
      }

      @include at-breakpoint($large) {    
        @include span-columns(6, 12);
      }

    
    }

    .right {

      text-align: center;

      @include at-breakpoint($large) {    
        @include span-columns(6 omega, 12);
        text-align: left;
      }

    }
  }


  &#contact {

    input, textarea {
      width: 100%;
    }

    @include at-breakpoint($med) {
      input, textarea {
        width: 50%;
      }
    }

    .right {
      text-align: center;
    }

      .left {
        @include span-columns(8 omega,8);
      }
      .right {
        @include span-columns(8 omega, 8);
        margin-top: 3em;
      }


    @include at-breakpoint($large) {
      .left {
        @include span-columns(4,12);
        @include prefix(1);
        @include suffix(1);
        input, textarea {
          width: 100%;
          }
          }
      .right {
        @include span-columns(6 omega,12);
        text-align: center;
      }

      }  
    }
  }


  // .big-box {
  //   @include at-breakpoint($large) {
  //     @include span-columns(6, 12);
  //     @include prefix(3);
  //   }
  // }
  // .small-box {
  //   @include at-breakpoint($large) {
  //     @include span-columns(5,12);
  //     @include nth-omega(2n);
  //   }
  //   // &:nth-child(1n) {
  //   //   @include prefix(1);
  //   // }
  //   // &:nth-child(2n) {
  //   //   @include suffix(1);
  //   // }
  // }

  #testimonials {
    .box {
      @include span-columns(4 omega,4);
      margin-bottom: 4em;
      &:last-child {
        margin-bottom: 0;
      }

      @include at-breakpoint($large) {
        margin-bottom: 0;
        @include span-columns(4,12);
        @include nth-omega(3n);

      }
    }
  }

  #services ul li {

    img {
      height: 115px;
    }

    @include span-columns(2,4);
    @include nth-omega(2n);
    &:nth-child(-n+6) {
      margin-bottom: 3em;
    }


    @include at-breakpoint($large) {
      @include span-columns(3,12);
      @include nth-omega(4n);
      margin-bottom: 0;

      &:nth-child(-n+4) {
        margin-bottom: 3em      
      }
    }

  }


#footer {
  text-align: center;
  .right {
    @include span-columns(4,4);
    ul {
      display: inline-block;
    }
  }
  @include at-breakpoint($med) {
    .left {
      @include span-columns(8,8);
      p {
        text-align: center;
      }
    }
    .right {
      @include span-columns(8,8);
    }
  }
  @include at-breakpoint($large) {
    .left {
      @include span-columns(6,12);
      text-align: left;
    }    
    .right {
      @include span-columns(6 omega,12);
      text-align: right;
    }
  }
}


header {
  .left {
    @include span-columns(6,12);
  }
  .right {
    @include span-columns(6 omega, 12);
  }  
}