$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters

section {
  .content {
    @include container;
  }
  .box {
    @include span-columns(4,12);
    @include nth-omega(3n);
  }  

  .left {
    @include span-columns(6, 12);
    img {
      display: block;
      float: left;
    }
  }

  .right {
    @include span-columns(6 omega, 12);
    img {
      display: block;      
      float: right;
    }
  }

  .big-box {
    @include span-columns(6, 12);
    @include prefix(3);
  }
  .small-box {
    @include span-columns(5,12);
    @include nth-omega(2n);
    // &:nth-child(1n) {
    //   @include prefix(1);
    // }
    // &:nth-child(2n) {
    //   @include suffix(1);
    // }
  }

}

  #services ul li {
    @include span-columns(3,12);
    @include nth-omega(4n);
  }

